@charset "utf-8";

// Set your brand colors
$black: #000000;
$white: #ffffff;

// Update Bulma's global variables
$text: $white;
$family-sans-serif: 'Goblin', sans-serif;

// Update some of Bulma's component variables
$body-background-color: $black;

// Import only what you need from Bulma
@import './node_modules/bulma/bulma.sass';
